@import "tailwindcss";

@keyframes drift {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(30px, 20px) scale(1.08);
  }
}

@keyframes rotatering {
  to {
    transform: rotate(360deg);
  }
}

@keyframes floatP {
  0%,
  100% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(12px, -18px);
  }
  66% {
    transform: translate(-8px, 10px);
  }
}

html {
  scroll-behavior: smooth;
}
